.aboutpage {
    background-color: black;
    color : white;
    padding: 20px;
}

.about-content {
    padding: 20px 20px;
}

.about-heading {
    font-size: 16px;
    line-height: 1.6;
}

.about-box {
    padding: 20px;
    justify-content: center;
}

.about {
    display : flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.lists-items {
    list-style: none;
    flex : 1;
    margin-right: 1rem;
} 

.lists-items .movie-icon {
    width : 32px;
    height: 32px;
    color : yellow;
}

.lists-items li {
    margin-bottom: 0.5rem;
}

.lists-items a {
    color : white;
    text-decoration: none;  
}

.lists-items a:hover {
    color : yellow;
}

.about-down {
    display : flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.lists-items-down {
    list-style: none;
    flex : 1;
    margin-right: 1rem;
}

.about-down .lists-items-down .movie-icon {
    width : 32px;
    height : 32px;
    color: yellow;
}

.lists-items-down li{
    margin-bottom: 0.5rem;
}

.lists-items-down a {
    color : white;
    text-decoration: none;
}

.lists-items-down a:hover {
    color : yellow;
}
